@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


        body {
        background-color: #F7F8FA;
        }

        header {
        justify-content : space-between;
        padding : 30px 7%;
       }

      .rk {
        padding : 14px 30px;
        margin-left : 6%;
        margin-bottom: 5%;
        border : none;
        color : #FFFFFF;
        border-radius : 4px;
        cursor : pointer;
        outline : none;
        background-color : #1E74FF;
        font-family: Montserrat, sans-serif;
      }

        .rk:hover {
        transition : all 0.4s ease 0s;
        background-color:  #ffffff00;
        color: #1E74FF;
        border: 1px solid #1E74FF;
      }

      .dta {
       margin-left: 10%;
       margin-top: 40px;
       margin-bottom: 45px;
       padding: 30px;
       background-color: #FFFFFF;
       font-family: Poppins, sans-serif;
       font-weight: bold;
       color: #111111;
       border-radius: 12px;
       width : 60%;
     }

     .x {
       background-color: #F7F8FA;
       border-radius: 12px;
       padding: 15px;
     }

     h3 {
       font-family: Montserrat, sans-serif;
       font-weight: 600;
       color: #203345;
       cursor: pointer;
     }

     .buttons {
        padding : 9px 25px;
        margin-left : 6%;
        border : none;
        color : #FFFFFF;
        border-radius : 3px;
        cursor : pointer;
        outline : none;
        background-color : #0073FF;
        font-family: Montserrat, sans-serif;
     }

     .buttons:hover {
        transition : all 0.4s ease 0s;
        background-color : #0065DF;
      }

      h1 {
    margin-right: 15%
    }

    textarea {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF00;
    border: none;

    border: 2px solid #FFFFFF00;
    border-radius: 20px;
    padding-right: 3%;
    padding-left: 1%;


    border: none;
    outline: none;

    padding-bottom: 2%;

    font-family: Poppins, sans-serif;
    font-weight: bold;
    color: #111111;
    }